.cabecera
{
	position: fixed;
	background-color: palevioletred;
	color: black;
	text-align: center;
	padding: 25px;
}
body{
	padding: 0;
	margin: 0;
	height: 100vh;
	justify-self: center;
	align-items: center;
	background-color:#B9F7F9;
}
.section{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider{
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}
.slide{
	width: 500%;
	height: 500px;
	display: flex;
}
.slide input{
	display: none;
}
.st{
	width: 20%;
	transition: 2s;
}
.st img{
	width: 800px;
	height: 500px;
}
.nav-m{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}
.m-btn{
	border: 2px solid #B9F7F9 ;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.m-btn:not(:last-child){
	margin-right: 30px;
}
.m-btn:hover{
	background-color:#B9F7F9 ;
}
#radio1:checked ~.first{
	margin-left: 0;
}
#radio2:checked ~.first{
	margin-left: -20%;
}
#radio3:checked ~.first{
	margin-left: -40%;
}
#radio4:checked ~.first{
	margin-left: -60%;
}
#radio5:checked ~.first{
	margin-left: -80%;
}
#radio6:checked ~.first{
	margin-left: -100%;
}
.nav-auto{
	position: absolute;
	width: 800px;
	margin-top: 460px;
	display: flex;
	justify-content: center;
}
.nav-auto div{
	border: 2px solid #B9F7F9;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.nav-auto div:not(:last-child){
	margin-right: 30px;
	justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
	background-color: #B9F7F9;
}
#radio2:checked ~ .nav-auto .a-b2{
	background-color: #B9F7F9;
}
#radio3:checked ~ .nav-auto .a-b3{
	background-color: #B9F7F9;
}
#radio4:checked ~ .nav-auto .a-b4{
	background-color: #B9F7F9;
}
#radio5:checked ~ .nav-auto .a-b5{
	background-color: #B9F7F9;
}
#radio6:checked ~ .nav-auto .a-b6{
	background-color: #B9F7F9;
}
.contenedor figure{
	background-color:beige;
	position:relative;
	height: 800px;
	cursor: pointer;
	width: 1000px;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 0px 15px 25px;
}
.contenedor figure img{
	width: 40%;
	height: 50%;
	transition: all 400ms ease-out;
}
.contenedor figure .robot{
	position: absolute;
	top: 0;
	width: 50%;
	height: 50%;
	background-color: beige;
	opacity: 0;
	text-align: center;
	visibility: hidden;
	transition: all 400ms ease-out;
}
.contenedor figure:hover .robot{
	opacity: 1;
	visibility: visible;
}
.contenedor figure:hover .robot h3{
	margin-top: 70px;
	margin-bottom: 15px;
}
.contenedor figure:hover img{
	transform: scale(1.3);
}
.contenedor figure .robot h3{
	transition: all400ms ease-out;
    margin-top: 30px;
}
.zapato{
margin-right: 50px;
}